@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
:root{
    --cor0:#F2D8C9; 
    --cor1:#D9BEB8;
    --cor2:#95A389;
    --cor3:#8C6E64;
    --cor4:#40241E;

    --fonte-header: 'Dancing Script', Arial;
    --fonte-padrao: 'Times New Roman', Times, serif;
    --fonte-destaque: 'Abhaya Libre';
    --fonte-cadastro: 'Zen Kurenaido';
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body{
    width: 100%;
}


header{
    font-family: var(--fonte-header);
    background-image: url('imagens/background-flower.jpg');
    background-position: right center;
    background-color: #f3ece8;    
    padding: 10px 10px 30px 10px;
    margin: 10px -10px -10px -10px;
    width: 100%;
    
}
header > h1{
    text-align: center;
    padding: 50px 10px 10px 10px;
    font-size: 3.6em;
}
div.barra-pesquisa{
    background-color: var(--cor4);
    margin: -21px -10px 15px -11px;
    padding: 10px 10px 10px 10px;
    text-align: right;
    width: 100%;

}

nav.home-page{
    background-color: #1e3f2996;
    margin: 10px -10px 10px -10px;
    padding: 10px 10px 20px 10px;
    background-position: center center;
}

div.home-page  a{
    text-decoration: none;
    border-radius: 3px;
    color: var(--cor4);
    padding: 10px 10px 10px 10px;
    font: normal bold 1.1em var(--fonte-padrao);
    margin: 5px 20px 5px 20px;
    transition-duration: 0.3s;
    
}

nav.home-page a:hover{
    
    background-color: var(--cor1);
    color: var(--cor4);
}
div{
    text-align: center;
}
.search{
    width: 150px;
    background: white;
    border-radius: 17px;
    margin: 6px 9px 19px -3px;
    padding: 0px 26px 3px 4px;
    color: rgb(39, 34, 34);
    border-width: 1px;
    border-style: groove;

    
}

 
 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    display: inline-block;
    border-color: ;
    
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
  }
  
 
  .flip-card-front {
     background-color: rgb(255, 255, 255); 
     color: black; 
     
  }
  
  
  .flip-card-back {
     background-color: #f3ece8;
    color: black;
    transform: rotateY(180deg);
    

  } 

  p.plantas{
      font-family: var(--fonte-destaque);
      color: var(--cor4);
      text-align: center;
      margin: 3px;
      padding-left: 5px;
      padding-right: 5px;
      
  }
  h2.plantas{
      font-family: var(--fonte-destaque);
      color: var(--cor2);
      margin: 10px;
      padding-top: 5px;
      
  }
  h2.classificacoes{
      color: #a2514a;
  }

  section.catalogo{
    background-color: white;
    padding: 20px;
    min-width: 320px;
    max-width: 100%;
    text-align: center;
    
    
  }
  section.formulario-cadastro{
      background-color: var(--cor1);
      margin: 10px 10px 20px 10px;
      padding: 10px 10px 10px 10px;
      background-image: url('imagens/background-plantas1.jpg');
      background-attachment: fixed;
      max-width: 100%;
      min-width: 320px;
      height:600px ;
      color: var(--cor4);
      font-family: var(--fonte-destaque);
      font-weight: bold;


  }
  form.formulario-cadastro{
      text-align: center;
      margin-top: 80px;
      padding: 0px;
      

  }

 
.formulario{
    width: 350px;
    padding: 6px 26px 7px 4px;
    color: var(--cor4);
    display: block;
    margin: auto;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    background-color: var(--cor1);
    border-width: 1px;
    border-style: groove;
    border-color: #a2514a;
    border-image: initial;
    cursor: pointer;
    opacity:0.8;
    

    }
    .formulario:hover{
        opacity:1;
    }


input#nome{
    width: 300px;
    background: white;
    margin: 10px 10px 20px 10px;
    padding: 6px 26px 7px 4px;
    border-width: 1px;
    border-style: groove;
    
}
input#senha{
    width: 600px;
    background: white;
    margin: 10px 10px 40px 10px;
    padding: 6px 26px 7px 4px;
    border-width: 1px;
    border-style: groove;
    
}
input#email{
    width: 300px;
    background: white;
    margin: 10px 10px 10px 10px;
    padding: 6px 26px 7px 4px;
    border-width: 1px;
    border-style: groove;
    
}
div.formulario-cadastro{
    padding: 10px 10px 10px 10px;
    display: inline-block;
}
div.senha{
    display: block;
    
}
section > h3{
    font-family: var(--fonte-cadastro);
    font-size: 2.3em;
    font-weight: normal;
    text-align: center;
    margin: 148px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

}
table, th, td {
    border-bottom: 1px solid var(--cor1);
    border-collapse: collapse;
    width: 80%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-align: justify;
  }
  th, td {
    background-color: #ffffff;
    color: var(--cor4);
  }
  table.tabela tr:hover td  {
    background-color: var(--cor1);
    }
    section.tabela{
        background-color: #f3ece8;
        max-width: 100%;
        min-width: 320px;
        margin: 10px 10px 20px 10px;
        padding: 0px 10px 0px 10px;
    }
    footer{
        background-color: #924b44;
        max-width: 100%;
        min-width: 320px;
        margin: -21px -10px -15px -11px;
        padding: 10px 10px 10px 10px;
        height: 200px;
        font-family: var(--fonte-cadastro);
    

    }
    footer  h4{
        font-size: 2em;
        font-weight: normal;
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 24px 10px;
        color: var(--cor0);

    }
    div.redes a{
        text-decoration: none;
        margin: auto;
    }
    div.redes {
        display: inline-block;
        margin: 10px 30px 80px 100px;
        padding: 10px 10px 10px 10px;
        max-width: 40%;
    }
    
    footer nav{
        height: 100px;
        background: #924b44;
    }
